.post-list-component { grid-area: left; }
.posts-view-component { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'left right right right right right';
  grid-gap: 5px;
  background-color: lightblue;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media only screen and (max-width: 1050px) {
  .grid-container {
    display: block;
  }
}
